<%= stylesheet_link_tag 'page-initial' %>

<%= link_to 'Sair', custom_logout_path, method: :delete, style: 'color: white; text-decoration: none;' %>
<div class="container-page">
<button type="button" class="btn btn-warning">Warning</button>

</div>

