.container-page{
    background-color: white;
    width: 85%;
    height: 85%;
    position: absolute;
    right: 2rem;
    border-radius: 3rem 3rem 0 0;
    top: 15%;
}

body{
    background-color: #80C6EE;
}