
.esqueceu{
    margin: 0 auto;
    margin-top: 10%;
    width: 25%;
    height: 25rem;
    background-color: #FFFFFF;
    border-radius: 5%;
    padding: 30px;
}

.title-esqueceu{
    color: #616ABB;
    margin-left: 1.2rem;
}